.modalWrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
}

.modalContent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    border: 3px solid gold;
}

.header {
    color: #464646;
    font-family: sans-serif;
    border: 2px solid #282c34;
    padding-left: 5px;
}
